<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${director != null}" th:text="${director.name}"></title>
    <title th:if="${director == null}">Director not found</title>
    <script src="/functions.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:if="${director == null}">
    <h1>Director not found!</h1>
    <a href=".">Go back?</a>
</div>

<div th:if="${director != null}">

    <p>
        <label>Name: </label>
        <label th:text="${director.name}"></label>
    </p>

    <p>
        <label th:if="${director.movies.size() > 0}">Movies: </label>
        <a th:each="movie: ${director.movies}"
           th:text="${movie.title}"
           style="padding:3px"
           th:href="@{'/movies/' + ${movie.id}}"></a>
    </p>

</div>
</body>
</html>