<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Movies</title>
    <link href="/styles.css" rel="stylesheet">
    <script src="/functions.js" type="text/javascript"></script>
</head>
<body>

<table>
    <thead>
    <tr>
        <th onclick='addParams(["sort_by=title"])'>
            Title
        </th>
        <th onclick='addParams(["sort_by=genre"])'>
            Genre
        </th>
        <th onclick='addParams(["sort_by=rating"])'>
            Rating
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td>
            <a th:text="${movie.title}"
               th:href="@{'/movies/' + ${movie.id}}"></a>
        </td>
        <td>
            <a th:text="${movie.genre.genre}"
               th:href="@{'/movies/' + ${movie.id}}"></a>
        </td>
        <td>
            <a th:text="${movie.getRating()}"
               th:href="@{'/movies/' + ${movie.id}}"></a>
        </td>
        <td th:if="${role} == 'ADMIN'">
            <a th:href="@{'/movies/admin/' + ${movie.id}}">
                <img src="https://cdn.iconscout.com/icon/free/png-256/edit-2653317-2202989.png"
                     width="16"
                     height="16"
                     alt="edit button" />
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <input value="|&lt;"
           onclick="addParams(['page_number=0'])"
           type="button"/>
    <input value="&lt;"
           th:onclick="@{ 'addParams([\'page_number=' + ${page_number - 1} + '\'])' }"
           type="button"/>

    <input th:value="${page_number}"
           type="button"
           disabled/>

    <input value="&gt;"
           th:onclick="@{ 'addParams([\'page_number=' + ${page_number + 1} + '\'])' }"
           type="button"/>
</div>
<input th:if="${role} == 'ADMIN'"
       value="New"
       onclick="navigateTo('admin/new')"
       type="button"/>
</body>
</html>
