<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Movies</title>
    <link href="/styles.css" rel="stylesheet">
    <script src="/functions.js" type="text/javascript"></script>
</head>
<body>

<table>
    <thead>
    <tr>
        <th th:each="field : ${fields}"
            th:text="${field}"
            th:onclick="@{ 'addParams([\'sort_by=' + ${field} + '\'])' }">
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td>
            <a th:text="${movie.title}"
               th:href="@{'/movie/' + ${movie.title}}"></a>
        </td>
        <td>
            <a th:text="${movie.genre.genre}"
               th:href="@{'/movie/' + ${movie.id}}"></a>
        </td>
        <td>
            <!--a th:text="${movie.rating}"
               th:href="@{'/movie/' + ${movie.rating}}"></a-->
        </td>
    </tr>
    </tbody>
</table>
<div>
    <input value="|&lt;"
           onclick="addParams(['page_number=0'])"
           type="button"/>
    <input value="&lt;"
           th:onclick="@{ 'addParams([\'page_number=' + ${page_number - 1} + '\'])' }"
           type="button"/>

    <input th:value="${page_number}"
           type="button"
           disabled/>

    <input value="&gt;"
           th:onclick="@{ 'addParams([\'page_number=' + ${page_number + 1} + '\'])' }"
           type="button"/>
</div>
<input value="New"
       onclick="navigateTo('new')"
       type="button"/>
</body>
</html>
