<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${movie != null}" th:text="${movie.title}"></title>
    <title th:if="${movie == null}">Movie not found</title>
    <script src="/functions.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div th:if="${movie == null}">
        <h1>Movie not found!</h1>
        <a href=".">Go back?</a>
    </div>

    <div th:if="${movie != null}">
        <p>
            <label>Title: </label>
            <label th:text="${movie.title}"></label>
        </p>

        <p>
            <label>Genre: </label>
            <a th:text="${movie.genre.genre}"
               th:href="@{'/genres/' + ${movie.genre.id}}"></a>
        </p>

        <p>
            <label>Director: </label>
            <a th:text="${movie.director.name}"
               th:href="@{'/directors/' + ${movie.director.id}}"></a>
        </p>

        <p>
            <label th:if="${movie.actors.size() > 0}">Actors: </label>
            <a th:each="actor: ${movie.actors}"
               th:text="${actor.name}"
               style="padding:3px"
               th:href="@{'/actors/' + ${actor.id}}"></a>
        </p>

        <p>
            <label>Rating: </label>
            <label th:text="${movie.rating}"></label>
        </p>

        <form th:action="@{'/api/rate/' + ${movie.id}}">
            <input name="rating" type="number" min="1" max="10">
            <input value='Rate' onclick="submitForm(this)" type="button"/>
        </form>
    </div>
</body>
</html>