<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Genres</title>
    <link href="/styles.css" rel="stylesheet">
    <script src="/functions.js" type="text/javascript"></script>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>
            Genre
        </th>
        <th>
            Movie count
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}">
        <td>
            <a th:text="${genre.genre}"
               th:href="@{'/genres/' + ${genre.id}}"></a>
        </td>
        <td>
            <a th:text="${genre.movies.size()}"
               th:href="@{'/genre/' + ${genre.id}}"></a>
        </td>
        <td th:if="${role} == 'ADMIN'">
            <a th:href="@{'/genres/admin/' + ${genre.id}}">
                <img src="https://cdn.iconscout.com/icon/free/png-256/edit-2653317-2202989.png"
                     width="16"
                     height="16"
                     alt="edit button" />
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <input value="|&lt;"
           onclick="addParams(['page_number=0'])"
           type="button"/>
    <input value="&lt;"
           th:onclick="@{ 'addParams([\'page_number=' + ${page_number - 1} + '\'])' }"
           type="button"/>

    <input th:value="${page_number}"
           type="button"
           disabled/>

    <input value="&gt;"
           th:onclick="@{ 'addParams([\'page_number=' + ${page_number + 1} + '\'])' }"
           type="button"/>
</div>
<input th:if="${role} == 'ADMIN'"
       value="New"
       onclick="navigateTo('admin/new')"
       type="button"/>
</body>
</html>
