<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${view_object}"></title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th th:each="header : ${headers}"
            th:text="${header}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${rows}">
        <td th:each="header : ${headers}">
            <a th:text="${row.get(header)}"
               th:href="@{'/' + ${view_object} + '/' + ${row.get('id')}}"></a>
        </td>
    </tr>
    </tbody>
</table>
<input value="New"
       th:onclick="@{'location.href=' + '\'' + '/' + ${view_object} + '/new' + '\'' }"
       type="button"/>

</body>
</html>
