<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${entity}"></title>
    <link href="/styles.css" rel="stylesheet">
    <script src="/functions.js" type="text/javascript"></script>
</head>
<body>

<table>
    <thead>
    <tr>
        <th th:each="field : ${fields}"
            th:text="${field.getName()}"
            th:onclick="@{ 'addParams([\'sort_by=' + ${field.getName()} + '\'])' }">
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${rows}">
        <td th:each="field : ${fields}">
            <a th:text="${row.get(field.getName())}"
               th:href="@{'/' + ${entity} + '/' + ${row.get('id')}}"></a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <input value="|&lt;"
           onclick="addParams(['page_number=0'])"
           type="button"/>
    <input value="&lt;"
           th:onclick="@{ 'addParams([\'page_number=' + ${page_number - 1} + '\'])' }"
           type="button"/>

    <input th:value="${page_number}"
           type="button"
           disabled/>

    <input value="&gt;"
           th:onclick="@{ 'addParams([\'page_number=' + ${page_number + 1} + '\'])' }"
           type="button"/>
</div>
<input value="New"
       onclick="navigateTo('new')"
       type="button"/>
</body>
</html>
