<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${view_object}"></title>
    <script th:src="@{/functions.js}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:switch="${details}">

    <div th:case="null">
        <h1>Resource not found!</h1>
        <a th:href="@{'/' + ${view_object} + '/'}">Go back?</a>
    </div>

    <form th:case="*"
          th:action="@{'/api/' + ${view_object} + '/' + ${details.get('id')}}">
        <input th:each="field : ${fields}"
               th:name='${field.getName()}'
               th:value="${details.get(field.getName())}"
               th:placeholder="${field.getName()}"
               type='text'/>
        <input value='Update' onclick="submitForm(this)" type="button"/>
        <input value='Delete' onclick="submitForm(this)" type="button"/>
    </form>
</div>

</body>
</html>