<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${entity}"></title>
    <script src="/functions.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<form th:action="@{'/api/' + ${entity}}"
    onsubmit="return false;">
    <input th:each="field : ${fields}"
           th:if='${field.getName() != "id"}'
           th:name='${field.getName()}'
           th:placeholder="${field.getName()}"
           type='text'/>
    <input value="Create" onclick="submitForm(this)" type="button"/>
</form>
</body>
</html>
